body
{
    margin: 0px;
    font-family: "Arial";
}

.toolbar
{
    width: 100vw;
    background: linear-gradient(#ff0000, #7a0000);
    padding: 15px;
    color: white;
    height: 35px;
}

.popup
{
    background: linear-gradient(#4f4f4f, #363636);
    position: fixed;
    width: 40vw;
    height: 20vw;
    top: 20px;
    left: 30vw;
    padding: 20px;
    color: white;
    box-shadow: 0px 0px 45px 1px black;
    visibility: hidden;
}

button
{
    background-color: #408f00;
    padding: 10px;
    border: none 5px;
    color: white;
    cursor: pointer;
    transition: 120ms;
}
button:hover
{
    border-bottom: solid 5px white;
}

input
{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
input:focus
{
    outline: 0;
}

.toolbar button
{
    background: none;
}

.main
{
    padding: 25px;
    background-image: "Bg.png";
    background-repeat: no-repeat;
    background-size: cover;
    
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 350px;

    color: white;
}

.login
{
    background: linear-gradient(#ff0000, #7a0000);
    padding: 10px;
    width: 220px;
    height: 200px;
}

.support
{
    padding: 25px;
}